<app-navigation></app-navigation>
<div *ngIf="authenticated">
  <div>
    Ratings dude, ratings...
  </div>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    {{error}}
  </div>
  <div *ngIf="status">
    Status: {{status}}
  </div>
  <div *ngIf="ratings">
  	<table id="ratings_table" class="display" cellspacing="0" width="100%">
  		<thead>
              <tr valign="top">
                  <th>Player Id</th>
                  <th>Name</th>
                  <th>Rating points</th>
              </tr>
          </thead>
          <tbody>
  			<tr *ngFor="let rating of ratings">
  		    	<td>{{rating.PlayerId}} </td>
  		    	<td>{{rating.Username}} </td>
  		    	<td>{{rating.Points}} points</td>
  			</tr>
  		</tbody>		
  	</table>
    
  </div>
</div>
