<nav *ngIf="authenticated" >
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login"> Login </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ratings"> Player Ratings </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rewards"> Ingame Rewards </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prizes"> Prizes </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout"> Logout </a>
    </li>
  </ul>
<hr>
</nav>