<app-navigation></app-navigation>
<section class="login-page">
        <div class="container flex-center">
            <div class="d-flex align-items-center">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="">
                            <h1 class="display-4 ">Login</h1>
                            <hr class="hr-light " />
                            <h6 class="" >Welcome. Naturally you need to log in to access this, please give it a try</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 offset-xl-1">

                    <div class="card">
                        <div class="card-body z-depth-2">
                        <form (ngSubmit)="loginUser()" #loginForm="ngForm">
							<div class="text-center">
								<h3>Login</h3>
								<div role="alert" class="{{model.alert_class}}"> 
									{{model.message}}
								</div>
								<hr />
							</div>
							<div class="md-form">
								<i class="fa fa-user prefix grey-text"></i>
								<input
									id="username" 
									class="form-control"
							        value=""
							        type="text"
							        placeholder="" 
							        required 
							        [(ngModel)]="model.username" name="username"  
						        />
						        <label for="username">Username</label>

						    </div>
						    <div class="md-form">
								<i class="fa fa-lock prefix grey-text"></i>
								<input 
									id="password" 
									class="form-control"
									value=""  
									type="password" 
									placeholder="" 
									required  
									[(ngModel)]="model.password" name="password" 
								/>
								<label for="password">Password</label>
							</div>
							<div class="text-center">
								<button 
									id="loginBtn"
                                	type="submit" 
                                	class="btn btn-primary"
                                	[disabled]="!loginForm.form.valid" >
                            		Login
                            	</button>                      
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>