<app-navigation></app-navigation>
<div *ngIf="authenticated">
  <div>
    Ingame Rewards dude, rewards...
  </div>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    {{error}}
  </div>
  <div *ngIf="status">
    Status: {{status}}
  </div>
  <div *ngIf="rewards">
  	<table id="rewards_table" class="display" cellspacing="0" width="100%">
  		<thead>
              <tr valign="top">
                  <th>Reward Id</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Type</th>
              </tr>
          </thead>
          <tbody>
  			<tr *ngFor="let reward of rewards">
  		    	<td>{{reward.RewardId}} </td>
  		    	<td>{{rewards.RewardName}} </td>
  		    	<td>{{reward.RewardDescription}}</td>
            <td>{{reward.RewardType}}</td>
  			</tr>
  		</tbody>		
  	</table>
    
  </div>
</div>