<app-navigation></app-navigation>
<div *ngIf="authenticated">
	<div>
	  Prizes to be won dude, prizes...
	</div>
	<div *ngIf="loading">
	  Loading...
	</div>
	<div *ngIf="error">
	  {{error}}
	</div>
	<div *ngIf="status">
	  Status: {{status}}
	</div>
	<div *ngIf="prizes">
		<table id="prizes_table" class="display" cellspacing="0" width="100%">
			<thead>
	            <tr valign="top">
	                <th>Reward Id</th>
	                <th>Name</th>
	                <th>Description</th>
	                <th>Type</th>
	            </tr>
	        </thead>
	        <tbody>
				<tr *ngFor="let prize of prizes">
			    	<td>{{prize.prizeId}} </td>
			    	<td>{{prize.title}} </td>
			    	<td>{{prize.description}}</td>
	          		<td>{{prize.prizeInfoType}}</td>
				</tr>
			</tbody>		
		</table>
	  
	</div>
</div>